.modal{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top:0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;

}
.modal.active{
    visibility: visible;
}
.modal-form-content{
    padding: 40px;
    border-radius: 7px;
    background-color: #ffffff;
}
.close-button{
    border: none;
    background-color: white;
    width: 30px;
    height: 30px;
}
.close-button:hover{
    cursor: pointer;
    border: 1px solid black;
    background-color: rgb(253, 85, 85);
    width: 30px;
    height: 30px;
}
.header-content{
    margin-bottom: 50px;
}
.title-header{
    display: inline;
    margin-right: 40px;
    font-size: 16pt;
}
.description{
    color: rgb(110, 110, 110);
    font-size:10pt;
}
.input-titel{
    border: none;
    border-bottom: 2px solid;
    margin-bottom: 20px;
    width: 150px;
}
.text-area{
    border:none;
    border-bottom: 2px solid;
    resize: none;
    width: 150px;
    margin-bottom: 20px;
}
.input-date::-webkit-calendar-picker-indicator {
    
    display: none;
}
.input-date{
    border: none;
    margin-right: 40px;
}
.input-time{
    border: none;
    border-bottom: 2px solid;
}
.fotter-content{
    margin-top: 60px;
}
.delete-button{
    cursor: pointer;
    width: 60px;
    height: 30px;
    border: 1px solid black;
    background-color: rgb(253, 85, 85);
    border-radius: 2px;
    margin-right: 140px;
   
}
.create-time{
    color: rgb(110, 110, 110);
    font-size:10pt;
    visibility: hidden;
}
.create-time.active{
    color: rgb(110, 110, 110);
    font-size:10pt;
    visibility: visible;
}
.save-button{
    cursor: pointer;
    width: 60px;
    height: 30px;
    border: 1px solid black;
    background-color: rgb(112, 112, 112);
    border-radius: 2px;
    
}

.save-button.active{
    cursor: pointer;
    width: 60px;
    height: 30px;
    border: 1px solid black;
    background-color: rgb(213, 255, 151);
    border-radius: 2px;
}